// Flot Charts
script(type='text/javascript', src=plugins+'flot/jquery.flot.js')
script(type='text/javascript', src=plugins+'flot/jquery.flot.resize.js')
script(type='text/javascript', src=plugins+'flot/jquery.flot.stack.js')
script(type='text/javascript', src=plugins+'flot/jquery.flot.pie.js')
script(type='text/javascript', src=plugins+'flot/jquery.flot.time.js')
script(type='text/javascript', src=plugins+'flot/jquery.flot.symbol.js')
script(type='text/javascript', src=plugins+'flot.tooltip/js/jquery.flot.tooltip.min.js')