
@using ELibrary.API.Models
@using ELibrary.API.Type

@{
    ViewData["Title"] = "Save";
}
@model ELibrary.Portal.Models.BookPageModel

<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div class="widget">
    <div class="widget-heading">
        <h3 class="widget-title">Horizontal Steps</h3>
    </div>
    <div class="widget-body">
        <form asp-action="Save" id="form-horizontal" class="form-horizontal" method="post" >
            <h3>Billing Infomation</h3>
            <fieldset>
                <div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="txtFirstNameBilling" class="col-sm-3 col-md-4 control-label">Kitap Adı</label>
                                <div class="col-sm-9 col-md-8">
                                    <input name="BookName" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">


                            <div class="form-group">

                                <label for="ddlCountryBilling" class="col-sm-3 col-md-4 control-label">Yazar Adı </label>
                                <div class="col-sm-9 col-md-8">

                                    <select name="AuthorId" class="form-control">
                                        <option value="-1">--Please Select--</option>
                                        @foreach (var item in Model.AuthorList)
                                        {

                                            <option value="@item.Id">@item.Name</option>
                                        }


                                    </select>
                                    <div>
                                        <a href="@Url.Action("Save", "Author")"> Yazar Ekle <i class="ti-pencil"></i></a>
                                    </div>
                                </div>



                            </div>

                        </div>
                       
                           
                       
                    </div>
                  
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="txtCompanyBilling" class="col-sm-3 col-md-4 control-label">Sayfa Sayısı</label>
                                <div class="col-sm-9 col-md-8">
                                    <input name="NumberPage" type="number" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="ddlCountryBilling" class="col-sm-3 col-md-4 control-label">YayınEvi Adı </label>
                                <div class="col-sm-9 col-md-8">
                                    <select name="PublisherId" class="form-control">
                                        <option value="-1">--Please Select--</option>
                                        @foreach (var item in Model.PubLisherList)
                                        {

                                            <option value="@item.Id">@item.Name</option>
                                        }

                                    </select>
                                    <div>
                                        <a href="@Url.Action("Save", "Publisher")"> Yayınevi Ekle <i class="ti-pencil"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="txtAddress1Billing" class="col-sm-3 col-md-4 control-label">Kitap Ozet</label>
                                <div class="col-sm-9 col-md-8">
                                    <textarea name="BookSummary" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </fieldset>
            <h3>Kitap Foto</h3>
            <fieldset>

                <div class="widget">
                    <div class="widget-heading">
                        <h3 class="widget-title">Fotoğraf Seçin</h3>
                    </div>
                    <div class="widget-body">
                        <div id="multiple-dz" name="BookPhoto" class="dropzone"></div>
                    </div>
                </div>
            </fieldset>
            <h3>Kitap İçerik</h3>
            <fieldset>

                <div class="widget">
                    <div class="widget-heading">
                        <h3 class="widget-title">Fotoğraf Seçin</h3>
                    </div>
                    <div class="widget-body">
                        <div id="single-dz" class="dropzone"></div>
                    </div>
                </div>
            </fieldset>

            <div class="form-group">
                <input type="submit" value="Oluştur" class="btn btn-default" />
            </div>

        </form>
    </div>
</div>