
@using ELibrary.API.Models
@using ELibrary.API.Type

@{
    ViewData["Title"] = "Save";
}
@model ELibrary.Portal.Models.BookPageModel
<link href="~/Umega/plugins/jquery.steps/demo/css/jquery.steps.css" rel="stylesheet" />
<script src="~/Umega/plugins/jquery.steps/build/jquery.steps.min.js"></script>
<script src="~/Umega/assets/js/page-content/forms/forms-wizard.js"></script>

<div class="widget">
    <div class="widget-heading">
        <h3 class="widget-title">Tabs Example</h3>
    </div>
    <div class="widget-body">
        <form id="form-tabs" class="form-horizontal tabcontrol clearfix" role="application">
            <form id="form-tabs" class="form-horizontal tabcontrol clearfix">
                <div class="steps clearfix">
                    <ul role="tablist">
                        <li role="tab" aria-disabled="false" class="first current" aria-selected="true">
                            <a id="form-tabs-t-0" href="#form-tabs-h-0" aria-controls="form-tabs-p-0">Kitap Bilgileri</a>
                        </li>
                        <li role="tab" aria-disabled="false">
                        </li>
                        <li role="tab" aria-disabled="false" class="last">
                            <a id="form-tabs-t-2" href="#form-tabs-h-2" aria-controls="form-tabs-p-2">Etiket</a>
                        </li>
                    </ul>
                </div>
                <div class="content clearfix">
                    <fieldset id="form-tabs-p-0" role="tabpanel" aria-labelledby="form-tabs-h-0" class="body current" aria-hidden="false">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 col-md-4 control-label">Kitap Adı</label>
                                    <div class="col-sm-9 col-md-8">
                                        <input asp-for="bookModel.BookName" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 col-md-4 control-label">Kitap Ozet</label>
                                    <div class="col-sm-9 col-md-8">
                                        <textarea asp-for="bookModel.BookSummary" class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 col-md-4 control-label">Sayfa Sayısı</label>
                                    <div class="col-sm-9 col-md-8">
                                        <input asp-for="bookModel.NumberPage" type="number" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 col-md-4 control-label">Yayın Evi </label>
                                    <div class="col-sm-9 col-md-8">
                                        <div class="input-group">
                                            <select asp-for="bookModel.PublisherId " placeholder="seçiniz..." class="form-control">
                                                <option value="-1">--Seçiniz--</option>
                                                @foreach (var item in Model.PubLisherList)
                                                {

                                                    <option value="@item.Id">@item.Name</option>
                                                }
                                            </select>
                                            <span class="input-group-btn">
                                                <a href="@Url.Action("Save", "Publisher")" class="btn btn-outline btn-default"><i class="glyphicon glyphicon-plus"> </i></a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 col-md-4 control-label">Yazar Adı </label>
                                    <div class="col-sm-9 col-md-8">
                                        <div class="input-group">
                                            <select asp-for="bookModel.AuthorId" placeholder="seçiniz..." class="form-control">
                                                <option value="-1">--Seçiniz--</option>
                                                @foreach (var item in Model.AuthorList)
                                                {
                                                    <option value="@item.Id">@item.Name</option>
                                                }
                                            </select>
                                            <span class="input-group-btn">
                                                <a href="@Url.Action("Save", "Author")" class="btn btn-outline btn-default"><i class="glyphicon glyphicon-plus"> </i></a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset id="form-tabs-p-1" role="tabpanel" aria-labelledby="form-tabs-h-1" class="body" aria-hidden="true" style="display: none;">
                        <div class="widget col-xs-4">
                            <div class="widget-title well-sm">
                                <h4>Kapak Resmi</h4>
                            </div>
                            <div class="widget-body">
                                <div>
                                    <img src="~/images/no-cover.jpg" style="width:300px; height:300px" class="img-responsive" />
                                </div>
                                <div class="form-group">
                                    <label>Resim</label>
                                    <input class="FileBasic" name="Thumbnail" multiple="multiple" placeholder="PNG | JPG" type="file">
                                </div>
                            </div>
                        </div>
                        <div class="widget col-xs-8">
                            <div class="widget-title">
                                <h4>İçerik</h4>
                            </div>
                            <div class="widget-body">
                                <table class="table table-hover">
                                    <tr>
                                        <th>Dosya Adı</th>
                                        <th>İşlem</th>
                                    </tr>
                                    <tr>
                                        <td></td>
                                    </tr>
                                </table>
                                <div class="form-group">
                                    <label>içerik</label>
                                    <input class="FileBasic" name="FormFile" multiple="multiple" placeholder="PNG | JPG" type="file">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset id="form-tabs-p-2" role="tabpanel" aria-labelledby="form-tabs-h-2" class="body" aria-hidden="true" style="display: none;"></fieldset>
                </div>
            </form>
        </form>
    </div>
</div>
<script>

            //$(document).ready(function () {
            //    $('.FileBasic').fileinput({
            //        maxFileCount: 1,
            //        showUpload: false,
            //        allowedFileTypes: ['image', 'video']
            //    });
            //});

</script>
