// Sparkline
script(type='text/javascript', src=plugins+'kapusta-jquery.sparkline/dist/jquery.sparkline.min.js')
// Flot Charts
script(type='text/javascript', src=plugins+'flot/jquery.flot.js')
script(type='text/javascript', src=plugins+'flot/jquery.flot.resize.js')
script(type='text/javascript', src=plugins+'flot.curvedlines/curvedLines.js')
script(type='text/javascript', src=plugins+'flot.tooltip/js/jquery.flot.tooltip.min.js')
// Slick Carousel
script(type='text/javascript', src=plugins+'slick-carousel/slick/slick.min.js')
// jQuery Counter Up
script(type='text/javascript', src=plugins+'jquery-waypoints/waypoints.min.js')
script(type='text/javascript', src=plugins+'Counter-Up/jquery.counterup.min.js')
// jQuery BlockUI
script(type='text/javascript', src=plugins+'blockUI/jquery.blockUI.js')