<aside data-mcs-theme="minimal-dark" class="main-sidebar mCustomScrollbar">
    <div class="user">
        <div id="esp-user-profile" data-percent="65" style="height: 130px; width: 130px; line-height: 100px; padding: 15px;" class="easy-pie-chart"><img src="" alt="" class="avatar img-circle"><span class="status bg-success"></span></div>
        <h4 class="fs-16 text-muted mt-15 mb-5 fw-300">Matthew Gonzalez</h4>
        <p class="mb-0 text-muted">Designer</p>
    </div>
    <ul class="list-unstyled navigation mb-0">
        <li class="sidebar-category">Main</li>
        <li class="panel">
            <a role="button" data-toggle="collapse" data-parent=".navigation" href="#collapse1" aria-expanded="false" aria-controls="collapse1" class="bubble active collapsed"><i class="ti-pencil"></i><span class="sidebar-title">Yazar İşlemleri</span></a>
            <ul id="collapse1" class="list-unstyled collapse">
                <li><a href="@Url.Action("Index", "Author")" class="active">Yazar Listele</a></li>
                <li><a href="@Url.Action("Save", "Author")" class="active">Yazar Ekle</a></li>
            </ul>
        </li>
        <li class="panel">
            <a role="button" data-toggle="collapse" data-parent=".navigation" href="#collapse2" aria-expanded="false" aria-controls="collapse3" class="collapsed"><i class="ti-home"></i><span class="sidebar-title">Yayın Evi İşlemleri</span></a>
            <ul id="collapse2" class="list-unstyled collapse">
                <li><a href="@Url.Action("Index", "Publisher")" class="active">Yayın evi Listele</a></li>
                <li><a href="@Url.Action("Save", "Publisher")" class="active">Yayın evi Ekle</a></li>
            </ul>
        </li>
        <li class="panel">
            <a role="button" data-toggle="collapse" data-parent=".navigation" href="#collapse3" aria-expanded="false" aria-controls="collapse3" class="collapsed"><i class="ti-book"></i><span class="sidebar-title">Kitap İşlemleri</span></a>
            <ul id="collapse3" class="list-unstyled collapse">
                <li><a href="@Url.Action("Index", "Book")" class="active">Kitap Listele</a></li>
                <li><a href="@Url.Action("Save", "Book")" class="active">Kitap Ekle</a></li>
            </ul>
        </li>

        <li class="panel">
            <a role="button" data-toggle="collapse" data-parent=".navigation" href="#collapse4" aria-expanded="false" aria-controls="collapse3" class="collapsed"><i class="ti-agenda"></i><span class="sidebar-title">Tür İşlemleri</span></a>
            <ul id="collapse4" class="list-unstyled collapse">
                <li><a href="@Url.Action("Index", "AppType")" class="active">Tür Listele</a></li>
                <li><a href="@Url.Action("Save", "AppType")" class="active">Tür Ekle</a></li>
            </ul>
        </li>

        <li class="panel">
            <a role="button" data-toggle="collapse" data-parent=".navigation" href="#collapse4" aria-expanded="false" aria-controls="collapse3" class="collapsed"><i class="ti-agenda"></i><span class="sidebar-title">Kategori İşlemleri</span></a>
            <ul id="collapse4" class="list-unstyled collapse">
                <li><a href="@Url.Action("Index", "Category")" class="active">Kategori Listele</a></li>
                <li><a href="@Url.Action("Save", "Category")" class="active">Kategori Ekle</a></li>
            </ul>
        </li>
        <li class="panel">
            <a role="button" data-toggle="collapse" data-parent=".navigation" href="#collapse5" aria-expanded="false" aria-controls="collapse3" class="collapsed"><i class="ti-tag"></i><span class="sidebar-title">Etiket İşlemleri<</span></a>
            <ul id="collapse5" class="list-unstyled collapse">
                <li><a href="@Url.Action("Index","Tag")" class="active">Etiket Listele</a></li>
                <li><a href="@Url.Action("Save","Tag")" class="active">Etiket Ekle</a></li>
            </ul>
        </li>
        @*<li class="panel">
            <a role="button" data-toggle="collapse" data-parent=".navigation" href="#collapse3" aria-expanded="false" aria-controls="collapse3" class="collapsed"><i class="ti-shopping-cart"></i><span class="sidebar-title">E-commerce</span></a>
            <ul id="collapse3" class="list-unstyled collapse">
                <li><a href="ecommerce-dashboard.html">Dashboard</a></li>
                <li><a href="product-list.html">Product list</a></li>
                <li><a href="edit-product.html">Edit product</a></li>
            </ul>
        </li>*@
    </ul>
</aside>