.page-content.container-fluid.gallery
  .row
    .col-md-4
      .widget.clear
        .widget-heading 
          h3.widget-title Popular Photos
        .widget-body
          .row.row-xs.grid
            .col-xs-4
              a(href=build+'images/backgrounds/49.jpg', title='Wallpaper 20')
                img.img-responsive(src=build+'images/backgrounds/49.jpg', alt='')
            .col-xs-4
              a(href=build+'images/backgrounds/35.jpg', title='Wallpaper 06')
                img.img-responsive(src=build+'images/backgrounds/35.jpg', alt='')
            .col-xs-4
              a(href=build+'images/backgrounds/34.jpg', title='Wallpaper 05')
                img.img-responsive(src=build+'images/backgrounds/34.jpg', alt='')
            .col-xs-4
              a(href=build+'images/backgrounds/37.jpg', title='Wallpaper 08')
                img.img-responsive(src=build+'images/backgrounds/37.jpg', alt='')
            .col-xs-4
              a(href=build+'images/backgrounds/44.jpg', title='Wallpaper 15')
                img.img-responsive(src=build+'images/backgrounds/44.jpg', alt='')
            .col-xs-4
              a(href=build+'images/backgrounds/51.jpg', title='Wallpaper 22')
                img.img-responsive(src=build+'images/backgrounds/51.jpg', alt='')
    .col-md-4
      .widget.clear
        .widget-heading 
          h3.widget-title Top Photographers
        .widget-body
          ul.fs-12.mb-0.media-list
            li.media
              .media-left.avatar
                img.media-object.img-circle(src='../build/images/users/01.jpg', alt='')
                span.status.bg-success
              .media-body
                h6.media-heading Alexander Rodriguez
                p.text-muted.mb-0 United States
              .media-right.text-nowrap
                i.ti-download.fs-10
                |  12.1K
            li.media
              .media-left.avatar
                img.media-object.img-circle(src='../build/images/users/12.jpg', alt='')
                span.status.bg-danger
              .media-body
                h6.media-heading Maria Williams
                p.text-muted.mb-0 United States
              .media-right.text-nowrap
                i.ti-download.fs-10
                |  8.8K
            li.media
              .media-left.avatar
                img.media-object.img-circle(src='../build/images/users/08.jpg', alt='')
                span.status.bg-success
              .media-body
                h6.media-heading Raymond Chavez
                p.text-muted.mb-0 United States
              .media-right.text-nowrap
                i.ti-download.fs-10
                |  6.5K
    .col-md-4
      .widget.clear
        .widget-heading 
          h3.widget-title Trending Tags
        .widget-body
          a.inline-block.p-5(href='#')
            span.label.label-outline.label-success water
          a.inline-block.p-5(href='#')
            span.label.label-outline.label-success flora
          a.inline-block.p-5(href='#')
            span.label.label-outline.label-success ice
          a.inline-block.p-5(href='#')
            span.label.label-outline.label-success coffee
          a.inline-block.p-5(href='#')
            span.label.label-outline.label-success beach
          a.inline-block.p-5(href='#')
            span.label.label-outline.label-success sunset
          a.inline-block.p-5(href='#')
            span.label.label-outline.label-success sky
          a.inline-block.p-5(href='#')
            span.label.label-outline.label-success tree
          a.inline-block.p-5(href='#')
            span.label.label-outline.label-success snow
          a.inline-block.p-5(href='#')
            span.label.label-outline.label-success river
          a.inline-block.p-5(href='#')
            span.label.label-outline.label-success macro
          a.inline-block.p-5(href='#')
            span.label.label-outline.label-success music
          a.inline-block.p-5(href='#')
            span.label.label-outline.label-success lake
          a.inline-block.p-5(href='#')
            span.label.label-outline.label-success bird
          a.inline-block.p-5(href='#')
            span.label.label-outline.label-success summer
  h1.mt-0.fw-300 New Stock Photos
  .row
    .col-sm-6.col-md-4
      .thumbnail
        a(href=build+'images/backgrounds/30.jpg', title='Wallpaper 01')
          img.img-responsive(src=build+'images/backgrounds/30.jpg', alt='')
        .text-right.caption
          ul.list-inline.mb-0
            li
              i.ti-comment.text-info
              |  12
            li
              i.ti-heart.text-danger
              |  324
    .col-sm-6.col-md-4
      .thumbnail
        a(href=build+'images/backgrounds/31.jpg', title='Wallpaper 02')
          img.img-responsive(src=build+'images/backgrounds/31.jpg', alt='')
        .text-right.caption
          ul.list-inline.mb-0
            li
              i.ti-comment.text-info
              |  43
            li
              i.ti-heart.text-danger
              |  278
    .col-sm-6.col-md-4
      .thumbnail
        a(href=build+'images/backgrounds/32.jpg', title='Wallpaper 03')
          img.img-responsive(src=build+'images/backgrounds/32.jpg', alt='')
        .text-right.caption
          ul.list-inline.mb-0
            li
              i.ti-comment.text-info
              |  17
            li
              i.ti-heart.text-danger
              |  120
    .col-sm-6.col-md-4
      .thumbnail
        a(href=build+'images/backgrounds/33.jpg', title='Wallpaper 04')
          img.img-responsive(src=build+'images/backgrounds/33.jpg', alt='')
        .text-right.caption
          ul.list-inline.mb-0
            li
              i.ti-comment.text-info
              |  45
            li
              i.ti-heart.text-danger
              |  654
    .col-sm-6.col-md-4
      .thumbnail
        a(href=build+'images/backgrounds/34.jpg', title='Wallpaper 05')
          img.img-responsive(src=build+'images/backgrounds/34.jpg', alt='')
        .text-right.caption
          ul.list-inline.mb-0
            li
              i.ti-comment.text-info
              |  21
            li
              i.ti-heart.text-danger
              |  568
    .col-sm-6.col-md-4
      .thumbnail
        a(href=build+'images/backgrounds/35.jpg', title='Wallpaper 06')
          img.img-responsive(src=build+'images/backgrounds/35.jpg', alt='')
        .text-right.caption
          ul.list-inline.mb-0
            li
              i.ti-comment.text-info
              |  90
            li
              i.ti-heart.text-danger
              |  840
    .col-sm-6.col-md-4
      .thumbnail
        a(href=build+'images/backgrounds/36.jpg', title='Wallpaper 07')
          img.img-responsive(src=build+'images/backgrounds/36.jpg', alt='')
        .text-right.caption
          ul.list-inline.mb-0
            li
              i.ti-comment.text-info
              |  53
            li
              i.ti-heart.text-danger
              |  690
    .col-sm-6.col-md-4
      .thumbnail
        a(href=build+'images/backgrounds/37.jpg', title='Wallpaper 08')
          img.img-responsive(src=build+'images/backgrounds/37.jpg', alt='')
        .text-right.caption
          ul.list-inline.mb-0
            li
              i.ti-comment.text-info
              |  67
            li
              i.ti-heart.text-danger
              |  329
    .col-sm-6.col-md-4
      .thumbnail
        a(href=build+'images/backgrounds/38.jpg', title='Wallpaper 09')
          img.img-responsive(src=build+'images/backgrounds/38.jpg', alt='')
        .text-right.caption
          ul.list-inline.mb-0
            li
              i.ti-comment.text-info
              |  86
            li
              i.ti-heart.text-danger
              |  649
    .col-sm-6.col-md-4
      .thumbnail
        a(href=build+'images/backgrounds/39.jpg', title='Wallpaper 10')
          img.img-responsive(src=build+'images/backgrounds/39.jpg', alt='')
        .text-right.caption
          ul.list-inline.mb-0
            li
              i.ti-comment.text-info
              |  67
            li
              i.ti-heart.text-danger
              |  230
    .col-sm-6.col-md-4
      .thumbnail
        a(href=build+'images/backgrounds/40.jpg', title='Wallpaper 11')
          img.img-responsive(src=build+'images/backgrounds/40.jpg', alt='')
        .text-right.caption
          ul.list-inline.mb-0
            li
              i.ti-comment.text-info
              |  56
            li
              i.ti-heart.text-danger
              |  478
    .col-sm-6.col-md-4
      .thumbnail
        a(href=build+'images/backgrounds/41.jpg', title='Wallpaper 12')
          img.img-responsive(src=build+'images/backgrounds/41.jpg', alt='')
        .text-right.caption
          ul.list-inline.mb-0
            li
              i.ti-comment.text-info
              |  93
            li
              i.ti-heart.text-danger
              |  579
    .col-sm-6.col-md-4
      .thumbnail
        a(href=build+'images/backgrounds/42.jpg', title='Wallpaper 13')
          img.img-responsive(src=build+'images/backgrounds/42.jpg', alt='')
        .text-right.caption
          ul.list-inline.mb-0
            li
              i.ti-comment.text-info
              |  58
            li
              i.ti-heart.text-danger
              |  840
    .col-sm-6.col-md-4
      .thumbnail
        a(href=build+'images/backgrounds/43.jpg', title='Wallpaper 14')
          img.img-responsive(src=build+'images/backgrounds/43.jpg', alt='')
        .text-right.caption
          ul.list-inline.mb-0
            li
              i.ti-comment.text-info
              |  90
            li
              i.ti-heart.text-danger
              |  480
    .col-sm-6.col-md-4
      .thumbnail
        a(href=build+'images/backgrounds/44.jpg', title='Wallpaper 15')
          img.img-responsive(src=build+'images/backgrounds/44.jpg', alt='')
        .text-right.caption
          ul.list-inline.mb-0
            li
              i.ti-comment.text-info
              |  55
            li
              i.ti-heart.text-danger
              |  749
    .col-sm-6.col-md-4
      .thumbnail
        a(href=build+'images/backgrounds/45.jpg', title='Wallpaper 16')
          img.img-responsive(src=build+'images/backgrounds/45.jpg', alt='')
        .text-right.caption
          ul.list-inline.mb-0
            li
              i.ti-comment.text-info
              |  78
            li
              i.ti-heart.text-danger
              |  820
    .col-sm-6.col-md-4
      .thumbnail
        a(href=build+'images/backgrounds/46.jpg', title='Wallpaper 17')
          img.img-responsive(src=build+'images/backgrounds/46.jpg', alt='')
        .text-right.caption
          ul.list-inline.mb-0
            li
              i.ti-comment.text-info
              |  75
            li
              i.ti-heart.text-danger
              |  432
    .col-sm-6.col-md-4
      .thumbnail
        a(href=build+'images/backgrounds/47.jpg', title='Wallpaper 18')
          img.img-responsive(src=build+'images/backgrounds/47.jpg', alt='')
        .text-right.caption
          ul.list-inline.mb-0
            li
              i.ti-comment.text-info
              |  34
            li
              i.ti-heart.text-danger
              |  231
    .col-sm-6.col-md-4
      .thumbnail
        a(href=build+'images/backgrounds/48.jpg', title='Wallpaper 19')
          img.img-responsive(src=build+'images/backgrounds/48.jpg', alt='')
        .text-right.caption
          ul.list-inline.mb-0
            li
              i.ti-comment.text-info
              |  58
            li
              i.ti-heart.text-danger
              |  672
    .col-sm-6.col-md-4
      .thumbnail
        a(href=build+'images/backgrounds/49.jpg', title='Wallpaper 20')
          img.img-responsive(src=build+'images/backgrounds/49.jpg', alt='')
        .text-right.caption
          ul.list-inline.mb-0
            li
              i.ti-comment.text-info
              |  54
            li
              i.ti-heart.text-danger
              |  150
    .col-sm-6.col-md-4
      .thumbnail
        a(href=build+'images/backgrounds/50.jpg', title='Wallpaper 21')
          img.img-responsive(src=build+'images/backgrounds/50.jpg', alt='')
        .text-right.caption
          ul.list-inline.mb-0
            li
              i.ti-comment.text-info
              |  41
            li
              i.ti-heart.text-danger
              |  689
    .col-sm-6.col-md-4
      .thumbnail
        a(href=build+'images/backgrounds/51.jpg', title='Wallpaper 22')
          img.img-responsive(src=build+'images/backgrounds/51.jpg', alt='')
        .text-right.caption
          ul.list-inline.mb-0
            li
              i.ti-comment.text-info
              |  78
            li
              i.ti-heart.text-danger
              |  950