.page-content.container-fluid
  ul.timeline.list-unstyled.mb-0
    li.timeline-item
      .timeline-time
        .fs-30.fw-500.text-success 20:16
        p 06 June 2016
      i.ti-announcement.timeline-icon.bg-success
      .timeline-content
        .panel.panel-success.mb-0
          .panel-heading Lorem ipsum dolor sit amet
          .panel-body
            p Friends can help each other. A true friend is someone who lets you have total freedom to be yourself - and especially to feel. Or, not feel. Whatever you happen to be feeling at the moment is fine with them. That's what real love amounts to - letting a person be what he really is.
            ul.list-inline.mb-0
              li
                button.btn.btn-xs.btn-success(type='button')
                  i.ti-thumb-up
                  |  Like
              li
                button.btn.btn-xs.btn-primary(type='button')
                  i.ti-share
                  |  Share
    li.timeline-item
      .timeline-time
        .fs-30.fw-500.text-warning 15:08
        p 30 May 2016
      i.ti-user.timeline-icon.bg-warning
      .timeline-content
        .panel.panel-warning.mb-0
          .panel-heading Lorem ipsum dolor sit amet
          .panel-body
            h5.media-heading Create workflow
            p.text-muted Team member
            ul.list-inline
              li
                .avatar
                  img.media-object.img-circle(src=build+'images/users/02.jpg', alt='')
                  span.status.bg-success
              li
                .avatar
                  img.media-object.img-circle(src=build+'images/users/03.jpg', alt='')
                  span.status.bg-warning
              li
                .avatar
                  img.media-object.img-circle(src=build+'images/users/07.jpg', alt='')
                  span.status.bg-danger
              li
                .avatar
                  img.media-object.img-circle(src=build+'images/users/05.jpg', alt='')
                  span.status.bg-success
              li
                .avatar
                  img.media-object.img-circle(src=build+'images/users/06.jpg', alt='')
                  span.status.bg-danger
    li.timeline-item
      .timeline-time
        .fs-30.fw-500.text-primary 02:10
        p 25 May 2016
      i.ti-gallery.timeline-icon.bg-primary
      .timeline-content
        .row
          .col-sm-6.col-md-4
            .thumbnail
              img.img-responsive(src=build+'images/backgrounds/34.jpg', alt='')
              .text-right.caption
                ul.list-inline.mb-0
                  li
                    i.ti-comment.text-info
                    |  12
                  li
                    i.ti-heart.text-danger
                    |  324
          .col-sm-6.col-md-4
            .thumbnail
              img.img-responsive(src=build+'images/backgrounds/35.jpg', alt='')
              .text-right.caption
                ul.list-inline.mb-0
                  li
                    i.ti-comment.text-info
                    |  32
                  li
                    i.ti-heart.text-danger
                    |  654
          .col-sm-6.col-md-4
            .thumbnail
              img.img-responsive(src=build+'images/backgrounds/41.jpg', alt='')
              .text-right.caption
                ul.list-inline.mb-0
                  li
                    i.ti-comment.text-info
                    |  43
                  li
                    i.ti-heart.text-danger
                    |  549
    li.timeline-item
      .timeline-time
        .fs-30.fw-500.text-purple 12:50
        p 23 May 2016
      i.ti-quote-left.timeline-icon.bg-purple
      .timeline-content
        blockquote.mb-0
          p Love is friendship that has caught fire. It is quiet understanding, mutual confidence, sharing and forgiving. It is loyalty through good and bad times. It settles for less than perfection and makes allowances for human weaknesses.
          footer Ann Landers
    li.timeline-item
      .timeline-time
        .fs-30.fw-500 09:18
        p 21 May 2016
      i.ti-shine.timeline-icon.bg-black
      .timeline-content
        .row
          .col-md-7
            .overlay-container
              img.overlay-bg.img-responsive(src=build+'images/backgrounds/22.jpg', alt='')
              .overlay-content.p-30
                .clearfix
                  .pull-left
                    p.mb-0 NEW YORK
                    .fs-60.fw-300 20:30
                    p.fs-13.mb-5 Sunday, 20 May
                    p.fs-13.mb-0
                      i.wi.wi-raindrop
                      |  10% 
                      i.wi.wi-wind-direction
                      |  1.4m/s NW
                  .pull-right.text-center
                    .fs-30 76
                      sup o
                    i.wi.wi-day-cloudy-windy.fs-60.mt-15.mb-15
                    p.mb-0 Mostly Cloudy
                hr
                .row.row-0.text-center
                  .col-xs-3
                    .mb-10 Tue
                    i.block.fs-24.wi.wi-day-fog
                    .mt-10 69
                      sup o
                  .col-xs-3
                    .mb-10 Wed
                    i.block.fs-24.wi.wi-day-snow-wind
                    .mt-10 71
                      sup o
                  .col-xs-3
                    .mb-10 Thu
                    i.block.fs-24.wi.wi-day-sprinkle
                    .mt-10 75
                      sup o
                  .col-xs-3
                    .mb-10 Fri
                    i.block.fs-24.wi.wi-day-lightning
                    .mt-10 70
                      sup o
    li.timeline-item
      .timeline-time
        .fs-30.fw-500.text-info 20:10
        p 20 May 2016
      i.ti-quote-right.timeline-icon.bg-info
      .timeline-content
        .row
          .col-sm-6
            .thumbnail.p-20
              img.img-responsive(src=build+'images/backgrounds/37.jpg', alt='')
              .text-right.caption
                ul.list-inline.mb-0
                  li
                    i.ti-comment.text-info
                    |  12
                  li
                    i.ti-heart.text-danger
                    |  324
              blockquote.mb-0.fs-14
                p 
                  em I believe that imagination is stronger than knowledge. That myth is more potent than history. That dreams are more powerful than facts. That hope always triumphs over experience. That laughter is the only cure for grief. And I believe that love is stronger than death.
                footer Robert Fulghum
          .col-sm-6
            .thumbnail.p-20
              img.img-responsive(src=build+'images/backgrounds/49.jpg', alt='')
              .text-right.caption
                ul.list-inline.mb-0
                  li
                    i.ti-comment.text-info
                    |  65
                  li
                    i.ti-heart.text-danger
                    |  547
              blockquote.mb-0.fs-14
                p 
                  em Love is the crowning grace of humanity, the holiest right of the soul, the golden link which binds us to duty and truth, the redeeming principle that chiefly reconciles the heart to life, and is prophetic of eternal good.
                footer Petrarch